/** EDUCATION */

.card.education {
  background: linear-gradient(
    190deg,
    rgba(255, 223, 243, 1) 0%,
    rgba(254, 182, 226, 1) 45%,
    rgba(255, 232, 246, 1) 100%
  );
}

.education > .addBtn {
  background-color: #a45384;
  color: white;
}
