:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: black;
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, transform 0.25s;
}
button:hover,
button:focus-visible {
  border-color: #646cff;
  transform: scale(1.1);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  background-color: #75757581;
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

/** DISPLAY MODE */

.displayMode {
  display: grid;
  scroll-snap-align: start;

  padding: 1rem;
  padding-bottom: 15rem;
}

.displayMode > section {
  border-bottom: 1px solid lightgray;
  padding: 2rem 0;
}

/** CATEGORY */

.category {
  scroll-snap-align: start;

  display: grid;
  grid-template-rows: 15vh 70vh 15vh;

  justify-content: center;
  align-items: center;
}

.category-title {
  text-align: center;
  margin: 0;
}

.addBtn {
  justify-self: center;
  align-self: center;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
}

/** FORM */

form {
  display: grid;
  grid-template-rows: calc(100% - 4rem) 4rem;

  height: 100%;
}

label {
  display: flex;
  flex-direction: column;
}

input,
optgroup,
select,
textarea {
  border-radius: 0.2rem;
  border: 0.5px solid #80808082;
  padding: 3px;
  transition: transform 0.25s;
}

input:focus-visible,
textarea:focus-visible {
  transform: scale(1.05);
}

form > button,
.view > button {
  align-self: flex-end;
  justify-self: center;
}

.inputs > .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.inputs > .date {
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
}

/** CARD */

.cards {
  box-sizing: border-box;
  display: flex;
  gap: 1.5rem;

  height: 100%;
  padding: 0.2rem;

  overflow: scroll;
  scroll-snap-type: x mandatory;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.cards::-webkit-scrollbar {
  display: none;
}

.card:first-child {
  margin-left: 10vw;
}

.card:last-child {
  margin-right: 10vw;
}

.card {
  position: relative;
  scroll-snap-align: center;

  min-width: 65vw;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #cacaca7d;

  background-color: #f9701e40;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  animation: swipe-in 0.7s ease;
}

.content > .text {
  text-align: center;
}

.removeBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;

  background: transparent;
  color: black;
}

.cardRemove {
  animation: swipe-out 500ms ease;
}

/* EXAMPLE */

.card.example {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px gray dashed;
  background-color: whitesmoke;
  color: #6e6e6e;
  text-align: center;

  animation: example-in 0.7s ease;
  transition: transform 0.7s ease;
}

.example > .content {
  justify-content: center;
}

.hint {
  margin: 0;
  font-size: 0.6rem;
}

.example.remove {
  transform: translateY(150%);
}

/** VIEW */

.view {
  display: grid;
  grid-template-rows: calc(100% - 4rem) 4rem;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  margin: auto;
  height: 100%;
}

.content > .date {
  text-align: center;
}

.date > p {
  margin: 0;
}

/** PERSONAL */

#personalForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;
}

.personal > .view > .content {
  justify-content: center;
}

/** EDUCATION */

.card.education {
  background: linear-gradient(
    190deg,
    rgba(255, 223, 243, 1) 0%,
    rgba(254, 182, 226, 1) 45%,
    rgba(255, 232, 246, 1) 100%
  );
}

.education > .addBtn {
  background-color: #a45384;
  color: white;
}

.education > form > .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.education > * > button {
  background: #a25282ed;
  color: white;
}

/** EXPERIENCE */

.card.experience {
  background: radial-gradient(
    circle,
    rgba(204, 227, 255, 0.686046511627907) 0%,
    rgba(175, 212, 255, 1) 50%,
    rgba(204, 227, 255, 1) 100%
  );
}

.experience .addBtn {
  background: #5a7399;
  color: white;
}

.experience > form > .inputs {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#responsibility {
  resize: none;
  font-size: 0.8rem;
}

.content > .text > .responsibility {
  max-height: 10rem;
  overflow: scroll;

  border: 1px solid white;
  border-radius: 0.25rem;
  background-color: rgba(255, 255, 255, 0.503);

  font-size: 0.8rem;
  text-align: initial;
}

.content > .text > .responsibility > p {
  margin: 0;
  padding: 4px;
}

.experience > form > button,
.experience > .view > button {
  background: #5a7399;
  color: white;
}

.education > form > button.removeBtn,
.experience > form > button.removeBtn {
  background: transparent;
  border: none;
  color: black;
}

/** CREATE */

.category.create {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(255, 253, 255, 1) 16%,
    rgba(224, 212, 255, 1) 100%
  );
}

.create > button {
  background: #7a65ae;
  color: white;
}

/* ANIMATIONS */

@keyframes swipe-in {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes swipe-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-150%);
    display: none;
  }
}

@keyframes example-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(150%);
  }
}

@keyframes example-in {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}
