:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100vw;
  height: 100vh;
  overflow: scroll;
  scroll-snap-type: y mandatory;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s, transform 0.25s, opacity 0.5s;
}
button:hover,
button:focus-visible {
  border-color: #646cff;
  transform: scale(1.1);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
  background-color: #75757581;
  opacity: 0.3;
}

.fakeButton {
  position: absolute;
  top: 0;
  transform: scale(0.6);
  z-index: 10;
}

/** CATEGORY */

.category {
  scroll-snap-align: start;
  position: relative;

  display: grid;
  grid-template-rows: 15vh 70vh 15vh;
  align-items: center;
}

.category-title {
  text-align: center;
  margin: 0;
}

/* Add background image */
.addBtn {
  justify-self: center;
  align-self: center;
  padding: 0.5rem 1.5rem;
  font-size: 1.2rem;
}

/** FORM */

legend {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

legend {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

label {
  display: flex;
  flex-direction: column;
}

label > p {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hint-required {
  font-size: 0.7rem;
  color: rgb(85, 85, 85);
}

input,
optgroup,
select,
textarea {
  border-radius: 0.2rem;
  border: 0.5px solid #80808082;
  padding: 3px 5px;
  transition: transform 0.25s;
}

input:focus-visible,
textarea:focus-visible {
  transform: scale(1.05);
}

/** CARD */

.cards {
  grid-row: 2;
  box-sizing: border-box;
  display: flex;
  gap: 1.5rem;

  height: 100%;
  padding: 0.2rem;

  overflow: scroll;
  scroll-snap-type: x mandatory;

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



.cards::-webkit-scrollbar {
  display: none;
}

.card:first-child {
  margin-left: 12vw;
}

.card:last-child {
  margin-right: 12vw;
}

.card {
  position: relative;
  scroll-snap-align: center;

  min-width: 65vw;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  border: 1px solid #cacaca7d;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

  animation: swipe-in 0.7s ease;
}

.fields {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  height: 100%;
  width: 100%;
}

.card button.removeBtn {
  position: absolute;
  top: -0.3rem;
  right: -0.5rem;

  background: transparent;
  border: none;
  color: black;
}

.cardRemove {
  animation: swipe-out 500ms ease;
}

/* EXAMPLE */

.card.example {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px gray dashed;

  color: #6e6e6e;
  text-align: center;

  animation: example-in 0.7s ease;
  transition: transform 0.7s ease;
}

.example .fields {
  height: max-content;
}

.hint-example {
  margin: 0;
  font-size: 0.6rem;
}

.example.remove {
  transform: translateY(150%);
}

/** CREATE */

.category.create {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;

  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 16%,
    rgba(224, 212, 255, 1) 100%
  );
}

.create button {
  background: #7a65ae;
  color: white;
}

/* ANIMATIONS */

@keyframes swipe-in {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes swipe-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-150%);
    display: none;
  }
}

@keyframes example-out {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(150%);
  }
}

@keyframes example-in {
  0% {
    transform: translateY(150%);
  }
  100% {
    transform: translateY(0%);
  }
}

/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }

  background-color: #242424;
} */
