/** EXPERIENCE */

.card.experience {
  background: radial-gradient(
    circle,
    rgba(204, 227, 255, 0.686046511627907) 0%,
    rgba(175, 212, 255, 1) 50%,
    rgba(204, 227, 255, 1) 100%
  );
}

#responsibility {
  resize: none;
  max-height: 7.5rem;
  font-size: 0.9rem;
}

.experience .addBtn {
  background: #5a7399;
  color: white;
}
