/** DISPLAY MODE */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');

.displayMode {
  --color-primary: #213d62;
  --color-secondary: #c9d6e6;
  --color-tertiary: #edf4ff;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  gap: 1rem;
  height: 100vh;

  scroll-snap-align: start;
}

/** PREVIEW */
.preview {
  border: 1px solid;
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: 20% repeat(2, 25%) 30%;

  width: 210mm;
  height: 297mm;
  background-color: white;

  transform: scale(0.4);
  margin: -18rem;
}

.preview-category {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.preview-category-title {
  color: var(--color-primary);
  letter-spacing: 0.1rem;
  margin: 0.5rem 0;

  font-family: 'Playfair Display', serif;
}

.preview-category-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  height: 100%;
  padding-left: 1rem;
  margin: 0;
  justify-content: space-evenly;
}

.contact .preview-category-list {
  list-style: none;
  padding-left: 0;
}

.contact .preview-category-item {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 1.1rem;
}

.contact .preview-category-item::before {
  display: flex;

  content: '';
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--color-primary);

  height: 30px;
  width: 30px;
  border-radius: 50%;
}

.email::before {
  background-image: url('../../assets/Letter.png');
}
.phone::before {
  background-image: url('../../assets/Phone.png');
}
.contact .website::before {
  background-image: url('../../assets/G.png');
  background-size: 70%;
}

.preview-category-item p {
  margin: 0;
}

.education .preview-category-item,
.experience .preview-category-item {
  font-size: 0.9rem;
}

.item-title {
  margin: 0.5rem 0;
}

.item-name {
  margin: 0;
}

.decoration-line {
  width: 4rem;
  min-height: 0.2rem;
  background-color: var(--color-primary);
}

/** HEADER */

.header {
  grid-row: 1;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 40% 60%;
  background-color: var(--color-secondary);

  padding: 1rem 2rem;
}

.header .preview-title {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 3rem;
  color: var(--color-primary);
  line-height: 1.2;

  font-family: 'Playfair Display', serif;
}

.preview-title h1 {
  margin: 0;
}

.preview-picture {
  grid-row: 1;
  grid-column: 1;
  position: relative;

  margin: 0px 1rem;
  border: 0.5rem solid var(--color-secondary);
  background-color: var(--color-secondary);
  border-radius: 50%;
  width: 75%;
  aspect-ratio: 1;

  overflow: hidden;
}

.preview-picture img {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;

  object-fit: cover;
  background-image: url('../../assets/Blank.jpg');
  background-position: center;
  background-size: 85%;

  max-width: 100%;
  min-height: 100%;

  text-align: center;
}

/** SIDEBAR */

.sidebar {
  grid-row: 2/5;
  grid-column: 1;
  display: grid;
  background: var(--color-tertiary);

  padding: 2rem;
}

.sidebar .education {
  grid-row: 3/4;
}

.sidebar .education .item-title {
  margin: 0.2rem 0;
}

/** MAIN */

.mainContent {
  grid-row: 2/5;
  grid-column: 2;
  display: grid;

  padding: 2rem;
}

.mainContent .aboutMe {
  grid-row: 1/2;
  background: white;
}

.mainContent pre {
  white-space: pre-wrap;
  font-family: inherit;
  overflow: hidden;
}

.mainContent .experience {
  grid-row: 2/4;
}

.mainContent .experience .preview-category-list {
  justify-content: normal;
  gap: 0.5rem;
  margin: 1rem 0;
}

.sidebar,
.mainContent {
  grid-template-rows: 30% 30% 40%;
  padding-top: 1.5rem;
}

/* Add colors */
.display-options {
  display: flex;
  gap: 2rem;
  align-items: end;
  margin-bottom: 4rem;
}

.display-options button {
  background-color: var(--color-primary);
}

.display-options #color-picker {
  height: 2.5rem;
  padding: 0;
  margin: 0;
  border-radius: 999px;
  width: 4.5rem;
  border: 0;
}

@media print {
  .display-options,
  button {
    display: none;
  }

  .preview {
    transform: none;
    margin: 0;
  }
}
