/** PERSONAL */

.personal > .fields {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.3rem;

  width: clamp(65vw, 80%, 75vw);
  margin: auto;
}

.personal > .view > .content {
  justify-content: center;
}
